.post-container {
  //border: 1px solid red;
  max-width: 800px;
  margin: 0px auto;
  padding: 8px;
  text-align: left;

  .code {
    border-radius: 4px;
  }
  li {
    font-size: 18px;
  }
  p {
    color: #9e9e9e;
    line-height: 1.6;
  }
}

@media screen and (max-width: 480px) {
  .post-container {
    max-width: 320px;
  }
}
