.Post {
  margin: 0px auto;
  max-width: 580px;
  border: 1px solid #30363d;
  border-radius: 4px;
  padding: 16px 16px;
  margin-bottom: 22px;
  text-align: auto;

  ion-icon {
    position: relative;
    top: 2.5px;
  }

  .title-and-date {
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 1.17em;
    }
    .date {
      color: #8b949e;
    }
  }

  .read {
    color: #6fdbfc;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .Post {
    max-width: 300px;
  }
}
