$bg-color: #0d1117;
$text-color: #c9d1d2;
$primary-color: #6fdbfc;

body {
  background-color: $bg-color;
  color: $text-color;
  font-weight: 400 !important;
}

h1,
h2,
h3,
p,
a {
  font-weight: 400;
}

.projects-header {
  margin: 0px auto;
  max-width: 610px;
}

.avatar {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.about-me {
  //border: 1px solid red;
  max-width: 800px;
  padding: 12px;
  //text-align: left;
  line-height: 24px;
}

@media screen and (max-width: 480px) {
  .projects-header {
    margin: 0px auto;
    max-width: 320px;
  }

  .avatar {
    width: 110px;
    height: 110px;
  }
}
