$bg-color: #0d1117;
$text-color: #c9d1d2;
$primary-color: #6fdbfc;

body {
  background-color: $bg-color;
  color: $text-color;
  font-weight: 400 !important;
}

h1,
h2,
h3,
p,
a {
  font-weight: 400;
}
