body {
  background-color: rgb(26, 32, 44);
  color: antiquewhite;
  font-weight: 400 !important;
}

p,
h2 {
  font-weight: 400;
}

.App {
}

.header {
  background-color: #131720;
  padding: 0px 16px;
  border-top: 6px solid rgb(94, 179, 172);

  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}

.header-title {
  //border: 2px solid yellow;
}

.header-link {
  //border: 2px solid pink;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin: 26px 8px;
}

li a {
  display: inline-block;
  color: white;
  text-decoration: none;
}
